<body>

    <header>
        <h1>Charada do Igor!</h1>
    </header>

    <section id="tabela-chutes">
        <table *ngFor="let linha of tabuleiro">
            <tr id="camposLetras" *ngFor="let coluna of linha" [style.backgroundColor]="getBackgroundColor(coluna.status)"> {{coluna.letra}} </tr>
        </table>
    </section>

    <div class="campoTeclado">
        <section class="teclado">
            <button class="letrasBotoes" *ngFor="let tecla of letrasTeclado" (click)="escreveNaTabela(tecla.letra)" [style.backgroundColor]="getBackgroundTecladoColor(tecla.status)"> {{tecla.letra}} </button>
        </section>  
    </div>


</body>