h1 {
    text-align: center;
    
}

li {
    list-style-type: none;
}

.campoTeclado {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    margin-top: 5%;
}

.teclado {
    width: 400px;
    height: 120px;
}

.letrasBotoes {
    width: 40px;
    height: 40px;
    background-color: #836FFF;
    border: solid 1px #6A5ACD;
    color: white;
}


.letrasBotoes:hover{

    background-color: rgba(0, 154, 243, 0.877);
    border: solid 1px rgba(16, 141, 243, 0.877);
    color: black;
}


table {
    display: flex;
    justify-content: center;
}

table tr {
    
    border: solid 1px #6A5ACD;
    background-color: #836FFF;
    color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 18pt;
}